<header class="mb-4">
  <nav class="navbar navbar-light navbar-expand-sm" style="background-color:#708090">
    <a class="navbar-brand" href="/"><img src="/assets/myserif.png" width="100" height="55" alt="MySerif!"><p style="color:#F5F5F5">お気に入りの映画セリフ記録サイト。</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link" style="color:#F5F5F5">Sign in</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color:#F5F5F5">Sign up</a></li>
      </ul>
    </div>
  </nav>
</header>